<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Oswald&display=swap" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <h1>Music Events</h1>
    <%= yield %>
  </body>
  <script src="main.js"></script>
</html>
